@model Employee

@{
	ViewBag.Title = "Add New";
	ViewBag.Header = "Add New Employee";
}

<form asp-controller="Employees" asp-action="Create">
	<label asp-for="Name"></label>
	<input asp-for="Name" />
	<span asp-validation-for="Name"></span>

	<label asp-for="Email"></label>
	<input asp-for="Email" />
	<span asp-validation-for="Email"></span>

	<input type="submit" name="submit" value="Submit" />
</form>