@model Employee
@{
	ViewBag.Title = $"{Model.Name} Details";
	ViewBag.Header = $"Details for {Model.Name}";
}
<p>Employee ID: @Model.Id</p>
<p>Employee name: @Model.Name</p>
<p>Employee email: @Model.Email</p>
