@using EmployeesApp.Web.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Employee

<!DOCTYPE html>
    <html>
    <head>
        <title>Employee details</title>
    </head>
    <body>
        <h1>@Model.Name</h1>
        <h2>@Model.Id</h2>
        <h2>@Model.Email</h2>
    </body>
    </html>