@model Employee[]

@{
    ViewBag.Title = "Start";
}

@if (TempData["Message"] != null)
{
    <h3 id="tempMessage" style="color:green">@TempData["Message"]</h3>
}
@if (TempData["Error"] != null)
{
    <h3 id="tempError" style="color:red">@TempData["Error"]</h3>
}

<div>
    <a asp-controller="Employees" asp-action="Payroll">Admin - Lönerapport</a>
</div>

<br />

<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></li>
    }
</ul>


@section scripts
{
    <script>
        const message = document.getElementById("tempMessage");

                if (message) {
            setTimeout(() => {
                message.style.display = "none";
            }, 10000);
        }
    </script>
    <script>
        const error = document.getElementById("tempError");

                if (error) {
            setTimeout(() => {
                error.style.display = "none";
            }, 10000);
        }
    </script>
}